body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family:'Open Sans', sans-serif;
}

main {
  flex: 1 0 auto;
}


.landingPhoto {
padding: 100px;
margin-bottom: 0px;
}

.signIn {
text-align: center;
position: center;
}

.page-footer {
/*position: absolute;
right: 0;
bottom: 0;
left: 0;*/
padding: 1rem;
background-color: blue;
text-align: center;
}


.NavbarCSS {
background-color: #CDCDCD;
color: #602014;
padding-left: 20px;
padding-right:20px;

}
/*.navItems {
}*/

.landPtext {
color: white;
font-size: 25px;
font-weight: bold;
text-align: right;

}
nav ul a{
color: #ff8c00;
font-family:'Open Sans', sans-serif;
font-size: 18px;

;
}
nav .brand-logo {
font-family: 'Pacifico', cursive;
color: #ff8c00;
font-size: 40px;
;

}

.page-footer {
/*position: absolute;
right: 0;
bottom: 0;
left: 0;*/
padding: 1rem;
/*background-color: #CDCDCD;*/
text-align: center;
}

footer.page-footer {
  padding-top: 20px;
  background-color: #CDCDCD;
}

.landingPage {
  background-size: cover;
  background-position: center;
}

.title {
color: white;
text-align: left;
}

.slideComp {
font-family: 'Roboto', sans-serif;
}

.signUpModal {
  bottom: -50px;
  position: fixed;
}

.landingPage1 {
  background-image: url("./img/WelcomeView/teens-2.jpg");
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 100px;
  padding-top: 100px;
}

.signUpComponent {
  /*border: 1px  black;*/
  padding: 20px;
  margin: 20px;
  background: orange linear-gradient(orange,#ff8c00);
  -webkit-box-shadow: 0 0 10px rgb(0,0,0);
-moz-box-shadow: 0 0 10px rgb(0,0,0);

}

/*SIGN UP COMPONENT INPUT COLOR*/
/* label color */
.input-field label {
 color: white;
}
/* label focus color */
/*.input-field input[type=text]:focus + label {
 color: white;
}*/
/* label underline focus color */
/*.input-field input[type=text]:focus {
 border-bottom: 1px solid white;
 box-shadow: 0 1px 0 0 white;
}*/
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid white;
 box-shadow: 0 1px 0 0 white;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid white;
 box-shadow: 0 1px 0 0 white;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: white;
}
        

.WhyComp{
  border-top: solid black;
  border-bottom: solid black;
  background-color: #A5A5AF;
  padding: 80px;
}



html,body
{height:100%;};
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}


.panelOne {
background: url("https://fthmb.tqn.com/Dibi4iv901vO3Ryjjl6NqBv9Cfs=/2122x1415/filters:fill(auto,1)/about/142019017-56afadd85f9b58b7d01bc351.jpg") no-repeat;
background-size: cover;
/*width: 100%;*/
/*height: 800px;*/
}
.p1Font{
  font-size: 40px;
}

.panelTwo {

}
.panelThree {

}
.panelFour {

}


