  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  }

  .carouselImage {
	max-width: 100%;
  }

.titleWelcome {
font-family: 'Ubuntu Condensed', sans-serif;
/*text-align: center;
*/}

.slideComp {
font-family: 'Roboto', sans-serif;
}

.signUpModal {
  bottom: -50px;
  position: fixed;
}